body {
    font-family: 'Fjalla One', sans-serif;
}

.toast {
    position: fixed;
    top: 65px;
    right: 10px;
}

.signInOut {
    color: rgba(255,255,255,.5);
}

.signInOut:hover {
    color: rgba(255,255,255,.75);
    text-decoration: none;
}

.discontinued {
    opacity: .5;
}

#product_rows tr {
    cursor: pointer;
}

.unshipped {
    color:darkorange !important; 
    opacity: .5 !important;
}

.overdue {
    color:red !important;
    opacity: .5 !important;
}

.underline {
    text-decoration: underline;
}

#order_rows tr {
    cursor: pointer;
}